<!doctype html>
<html>
  <head>
    <title>Angular 2 - Forms: Forms Demo App</title>

    <script src="/_/vendor/traceur-runtime-0.0.87.js"></script>
    <script src="/_/vendor/system-0.16.11.js"></script>
    <script src="/_/vendor/angular2.dev.2.0.0-alpha.46.js"></script>
    <link rel="stylesheet" type="text/css" href="/_/vendor/bootstrap@3.3.5.min.css">

    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
      <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
  </head>
  <body>
    <div class="container">
      <forms-demo-app></forms-demo-app>
    </div>

    <!--
    <script>
      __webpack_public_path__ = '/';
    </script>

    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
    -->

    <script src="/core.js"></script>
    <script src="/bundle.js"></script>

  </body>
</html>
